[submodule "sketch/lib/spudpole"]
	path = sketch/lib/spudpole
	url = http://github.com/preeve9534/spudpole
[submodule "sketch/lib/ADC"]
	path = sketch/lib/ADC
	url = https://github.com/pedvide/ADC.git
[submodule "sketch/lib/IC74HC165"]
	path = sketch/lib/IC74HC165
	url = https://github.com/pdjr-modules/IC74HC165
[submodule "sketch/lib/IC74HC595"]
	path = sketch/lib/IC74HC595
	url = https://github.com/pdjr-modules/IC74HC595
[submodule "sketch/lib/ProcessQueue"]
	path = sketch/lib/ProcessQueue
	url = https://github.com/pdjr-modules/ProcessQueue
[submodule "sketch/lib/StateMachine"]
	path = sketch/lib/StateMachine
	url = https://github.com/pdjr-modules/StateMachine
[submodule "sketch/lib/ModuleConfiguration"]
	path = sketch/lib/ModuleConfiguration
	url = https://github.com/pdjr-modules/ModuleConfiguration
