[submodule "sketch/lib/NMEA2000"]
	path = sketch/lib/NMEA2000
	url = http://github.com/preeve9534/NMEA2000
[submodule "sketch/lib/spudpole"]
	path = sketch/lib/spudpole
	url = http://github.com/preeve9534/spudpole
[submodule "modules/kicad-libraries/kicad-symbols"]
	path = modules/kicad-libraries/kicad-symbols
	url = https://github.com/KiCad/kicad-symbols.git
[submodule "modules/kicad-libraries/kicad-footprints"]
	path = modules/kicad-libraries/kicad-footprints
	url = https://github.com/KiCad/kicad-footprints.git
